@import url(https://fonts.google.com/specimen/Montserrat);
body{
    text-align: center;
    font-family: 'Montserrat';
    background-color: #1A1D21;
}
.card{
    width: 750px;
    height: 650px;
    position: absolute;
    inset: 0;
    margin:auto;
}
img{
    background-size: cover;
    width: 85%;
    height: 400px;
    padding-left: 25px;
    margin-left: 48px;
}
button{
    margin-top: 10px;
}